.header {
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 15px;
    padding-top: 20px;
    border-bottom: 2px solid black;
    font-family: 'Playwrite CU', sans-serif;
    background: rgba(247, 146, 151, 0.5);
}

.header h1,
.header p {
    margin: 0;
    padding: 0; /* No padding */
}

