.navigation {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em 0 2em 0;
    background-color: white;
}

.options {
    display: flex;
    justify-content: center;
    gap: 4em;
}

.options>div {}

.icon {
    color: #6c757d;
    height: 24px;
    width: 24px;
    transition: color 0.3s, transform 0.3s;
    cursor: pointer;
}

.icon:hover {
    color: #007bff;
    transform: translateY(-3px);
}